/*body style for my portifólio  */
body{
    background-color: black;
    overflow-x: hidden;
}

/* main title possition */
.Bem-vindo {
    width: 100vw;
    height: 30vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 50px;
}

/* Main title stilized */
h1{
    text-align: center;
    font-size: 60px;
    font-family: 'Mynerve', cursive;
}

/* font */
.font{
    font-family: 'Rajdhani', sans-serif;
}

/* texts colors */
.color-secondary{
    color: white;
}

.color-terciary{
    color:  rgb(238,174,202);;
}

/* Margins */
.margin-left{
    margin-left: 15px;
}

.margin-left2{
    margin-left: -650px;
}

.margin-left3{
    margin-left: 5px;
}

/* Size of text */
.tamanho{
    font-size: 20px;
}

/* Size of the img */
.tamanho2{
    width: 600px;
    height: 600px;
    margin-top: -170px;
}

/* Position img */
.float-right{
    float: right;
}

.margin-top{
    margin-top: 5px;
}

/* img borders */
.border{
    border-radius: 50%;
    border-style: double;
    background: linear-gradient(to bottom left, #ff0dc2, #EEAECA); 
    border-width: 20px;
}

/* Acodion stile */
details {
    display: block; 
    width: auto;
    margin: 10px 0;
    margin-left: 40px;
    margin-right: 800px;
}
  
details p { 
    padding-left: 30px;
    color: white;
}
  
summary {
    display: flex; 
    background: rgb(238,174,202);
    color: white;
    border-radius: 8px;
    padding: 5px;
    cursor: pointer;
    font-weight: 700;
    justify-content: flex-start;
    align-items: center;
    font-family: 'Mynerve', cursive;
}
  
summary::-webkit-details-marker {
    display: none;
}
  
summary:before {
    content: "+";
    font-size: 20px;
    font-weight: bold;
    margin: 0 5px;
    padding: 0;
    width: 20px;
    text-align: center;
}
  
details[open] summary:before {
    content: "-";
}

/* Put icons in final of the page */
.display{
    margin-top: 220px;
    margin-left: 20px;
    font-weight: bold;
}

.display2{
    display: flex;
}

/*creating the responsiveness of my portfolio*/

/* mobile resposiveness*/
@media only screen and (max-width: 320px){

    /* fixing the title */
    .Bem-vindo{
        width: 100vw;
        height: 30vh;
        align-items: center;
        margin-left: 20px;
        margin-top: -40px;
    }

    /* font size of the tex*/
    h1{
        font-size: 40px;
    }

    /* img size*/
    .tamanho3{
        width: 200px;
        height: 200px;
    }

    /* text size*/
    .tamanho4{
        width: 270px;
        height: 370px;
        font-size: 30px;
    }

    /* margin of the midieas link footer*/
    .display{
        margin-left: 3px;
    }

    /* margin of the img*/
    .margin{
        margin-top: -20px;
        margin-left: 20px;
    }

    /* Take off the float of img*/
    .float{
        float: none;

    }

/* fixing the acordeon*/
    summary {
        width: 169px;
        font-size: 20px;
    }

    /*summary informations*/
    .font2{
        font-size: 20px;
        width: 210px;
    }

}

@media only screen and (max-width: 480px){   
}

/* tablet resposiveness ok*/ 
@media screen and (min-width: 481px) and (orientation: landscape) {
}

/* laptops resposiveness ok*/
@media (min-width: 769px) and (max-width: 1024px){
}

/* desktops resposiveness ok*/
@media screen and (min-width: 1025px) and (max-width: 1200px){
}